  @media screen and (max-width: 500px) {
    .about-content-wrapper {
      padding-left: 0rem !important;
      padding-right: 0rem !important;
    }
    #contact_information {
      margin-top: 3rem !important;
    }
  }