#footer {
  padding: 25px;
  background-color: $indigo;
  color: white;
  margin-top: auto;
  flex-shrink: 0;
}
.footer-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 300;
  a {
    color: white;
  }
  #social, #about, #copyright, #cfd {
    margin: 1em;
  }
  #social {
    #icons {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      i {
        font-size: 1.5em;
      }
    }
  }
  #copyright, #cfd {
    i { color: red }
    a { text-decoration: underline }
  }
}
