#top-bar {
  background-color: $indigo;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  #logo {
      height: 100px;
      margin: 10px 0;
  }
  #nav {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    letter-spacing: 1px;
    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
    .active {
      font-weight: 500;
    }
  }
}
