.search-bar-wrapper {
  padding: 2em;
  .search-bar {
    font-size: 1.5em;
    padding: 1em 3em 1em 1em !important;
    background-image: url('../img/search.png');
    background-size: auto 45%;
    background-repeat:no-repeat;
    background-position: 98%;
    @media screen and (max-width: 800px) {
      background-position: 95%;
    }
  }
}

.suggestion-wrapper {
  padding: .1em;
  border: solid 1px #000066;
  background: #cce6ff;
}

.rc-typeahead-suggestion.active {
  font-weight: 700;
}

.active .suggestion-wrapper {
  background-color: #8EDFE8;
}

.search-bar-suggestion {
  font-size: 1.2em;
}
