.search-bar-wrapper {
  padding: 2em;
  .search-bar {
    font-size: 1.5em;
    padding: 1em 0 1em 2em;
    background-image: url('../img/search.png');
    background-size: auto 45%;
    background-repeat:no-repeat;
    background-position: .75%;
  }
}
