.suggestion-wrapper {
  padding: .1em;
  background: #fff;
  &:hover {
    background: #eee;
  }
}

.suggestion-header-wrapper {
  padding: .1em;
  background: #fff;
  cursor: default;
  border-bottom: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  font-size: 1.1em;
}

.suggestion-wrapper {
  &:hover {
    background: #eee;
  }
}

.search-bar-wrapper {
  padding: 2em;
}

.search-bar-wrapper > div {
  position: relative;
}

#search-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .3rem;
  &:focus {
    outline: none;
  }
}

#search-input.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

#search-suggestions {
  position: absolute;
  cursor: pointer;
  left: 1px;
  width: calc(100% - 2px);
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

