@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600');
@import 'vars';
@import 'footer';
@import 'nav';
@import "search-bar";

html, body {
    background: $indigo;
    font-family: 'Hind Siliguri', sans-serif;
    height: 100%;
    color: black;
}

#app {
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .content {
    flex-grow: 1;
    background-color: whitesmoke;
  }
}
