@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600');
@import 'vars';
@import 'footer';
@import 'nav';

html, body {
    background: $indigo;
    font-family: 'Hind Siliguri', sans-serif;
    height: 100%;
    color: white;
}

#app {
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .content {
    flex-grow: 1
  }
}
