@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600");
#footer {
  background-color: #2C208C;
  color: white;
  margin-top: auto;
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 30px;
  text-transform: uppercase;
  font-weight: 500; }
  #footer a {
    color: white; }
  #footer #contact, #footer #map, #footer #social, #footer #about {
    margin: 1em; }
  #footer #contact {
    display: flex;
    justify-content: space-between; }
    #footer #contact span {
      margin-left: 1em;
      text-transform: none;
      font-weight: normal; }
  #footer #map {
    width: 200px;
    height: 200px;
    background-color: black; }
  #footer #social #icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; }
    #footer #social #icons i {
      font-size: 1.5em; }
  #footer #about #copyright {
    margin-top: 80px;
    font-size: x-small;
    font-weight: normal; }

#top-bar {
  background-color: #2C208C;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }
  #top-bar #logo {
    height: 100px;
    margin: 10px 0; }
  #top-bar #nav {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0 15px; }
    #top-bar #nav a {
      text-decoration: none;
      color: white;
      text-transform: uppercase; }
    #top-bar #nav .active {
      font-weight: 500; }

html, body {
  font-family: 'Hind Siliguri', sans-serif;
  height: 100%; }

#app {
  height: 100%; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .page-wrapper .content {
    flex-grow: 1; }
