@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
#footer {
  padding: 25px;
  background-color: #2C208C;
  color: white;
  margin-top: auto;
  flex-shrink: 0; }

.footer-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 300; }
  .footer-row a {
    color: white; }
  .footer-row #social, .footer-row #about, .footer-row #copyright, .footer-row #cfd {
    margin: 1em; }
  .footer-row #social #icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; }
    .footer-row #social #icons i {
      font-size: 1.5em; }
  .footer-row #copyright i, .footer-row #cfd i {
    color: red; }
  .footer-row #copyright a, .footer-row #cfd a {
    text-decoration: underline; }

#top-bar {
  background-color: #2C208C;
  color: white; }
  #top-bar #logo {
    height: 100px;
    margin: 10px 0; }
    @media screen and (max-width: 500px) {
      #top-bar #logo {
        width: 95%;
        height: auto;
        margin-bottom: 0; } }
  #top-bar #nav {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0 15px; }
    #top-bar #nav a {
      text-decoration: none;
      color: white;
      text-transform: uppercase; }
    #top-bar #nav .active {
      font-weight: 700; }
    @media screen and (max-width: 713px) {
      #top-bar #nav {
        margin-left: auto;
        margin-bottom: 10px;
        font-size: 0.9em; } }

.suggestion-wrapper {
  padding: .1em;
  background: #fff; }
  .suggestion-wrapper:hover {
    background: #eee; }

.suggestion-header-wrapper {
  padding: .1em;
  background: #fff;
  cursor: default;
  border-bottom: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  font-size: 1.1em; }

.suggestion-wrapper:hover {
  background: #eee; }

.search-bar-wrapper {
  padding: 2em; }

.search-bar-wrapper > div {
  position: relative; }

#search-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .3rem; }
  #search-input:focus {
    outline: none; }

#search-input.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none; }

#search-suggestions {
  position: absolute;
  cursor: pointer;
  left: 1px;
  width: calc(100% - 2px);
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
  overflow-x: hidden;
  overflow-y: hidden; }

.category-links a {
  text-decoration: none;
  color: #343a40; }

@media screen and (max-width: 500px) {
  .category-links .category-link {
    width: 50%; } }

@media screen and (max-width: 700px) {
  .category-page .category-header img.category-icon {
    display: none; } }

@media screen and (min-width: 701px) {
  .category-page .category-header div.category-services {
    margin-left: 1em; } }

.category-page .category-header span.service-link {
  padding-right: 0.5em; }
  .category-page .category-header span.service-link a.service-selected {
    color: #2C208C; }
  .category-page .category-header span.service-link a.service-not-selected {
    color: grey;
    text-decoration: line-through; }
  .category-page .category-header span.service-link:not(:first-child) {
    padding-left: 0.5em; }
  .category-page .category-header span.service-link:not(:last-child) {
    border-right: 1px solid black; }

.category-page .category-listings {
  flex-direction: column; }
  .category-page .category-listings div.letter-parent {
    width: 20%;
    display: flex;
    justify-content: center; }
    @media (min-width: 60em) {
      .category-page .category-listings div.letter-parent {
        width: 10%; } }
  .category-page .category-listings div.letter {
    background-color: #2C208C;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }

html, body {
  background: #2C208C;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #343a40; }

a {
  color: #2C208C; }

b {
  font-weight: 600; }

#app {
  height: 100%; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .page-wrapper .content {
    flex-grow: 1;
    background-color: whitesmoke; }

.lds-grid {
  position: absolute;
  top: 45%;
  left: 45%; }

.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite; }

.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s; }

.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s; }

@keyframes lds-grid {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }
